<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcast.dw.dao.FileMapper">

	<resultMap type="com.itcast.dw.model.FileModel" id="FileResultMap"></resultMap>
	<resultMap type="com.itcast.dw.model.FileModelVo" id="FileVoResultMap"></resultMap>

	<select id="getFilesByUserId" parameterType="int" resultMap="FileVoResultMap">
		select * from fileinfo where createuserid = #{userId} order by createtime desc
	</select>


	<insert id="saveFileModel" parameterType="com.itcast.dw.model.FileModel"
		useGeneratedKeys="true" keyProperty="id">
		insert into fileinfo(filename,
		filesize,
		createuserid,download,
		downloadnumber, filepath,createtime,
		updatetime)
		values(#{filename,jdbcType=VARCHAR},
		#{filesize,jdbcType=DECIMAL},
		#{createuserid,jdbcType=NUMERIC},
		#{download,jdbcType=NUMERIC},
		#{downloadnumber,jdbcType=NUMERIC},
		#{filepath,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{updatetime,jdbcType=TIMESTAMP}
		)
	</insert>



</mapper>
		