<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcast.dw.dao.VideoInfoMapper">

    <resultMap type="com.itcast.dw.model.VideoInfo" id="videoResultMap"></resultMap>

	<insert id="saveMedia"
		parameterType="com.itcast.dw.model.VideoInfo" useGeneratedKeys="true"
		keyProperty="id">
		insert into videoinfo(title, description, createuserid,
		videoType, imgpath,videopath, createtime, updatetime,isown)
		values(#{title,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{createuserid,jdbcType=NUMERIC},
		#{videoType,jdbcType=VARCHAR},
		#{imgpath,jdbcType=VARCHAR},
		#{videopath,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{updatetime,jdbcType=TIMESTAMP},
		#{isown,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="findAllMedia" resultMap="videoResultMap">
	    select * from videoinfo
	</select>
	
	<select id="getVideosByType" resultMap="videoResultMap" parameterType="string">
	    select * from videoinfo where videoType = #{videoType} and isown = 0 ORDER BY updatetime DESC LIMIT 12
	</select>
	
	<select id="getVideosByUserId" resultMap="videoResultMap" parameterType="int">
	    select * from videoinfo where createuserid = #{userId} ORDER BY updatetime DESC LIMIT 12
	</select>
	
	<select id="getVideosById" resultType="com.itcast.dw.model.VideoInfo" parameterType="int">
	    select * from videoinfo where id = #{videoId}
	</select>


</mapper>